
<div class="info-list">
  <h3 id="group" name="group">Research Group</h3>
      <table class="table table-hover" style="font-size:80%">
        <td>
            <p>I am really fortunate to work with a group of excellent students at UW-Madison. Stay tuned for our latest works! </p>


  <!-- <p>I am fortunate to work with a group of excellent students at UW-Madison. Stay tuned on our latest works! </p> -->
  Graduate Students
  <ul>
    <li><p><a href="https://uppaal.github.io/">Rheeya Uppaal</a> (PhD in CS, Spring 2022-) </p></li>
    <li><p><a href="https://tossowski.github.io/website/">Tim Ossowski</a> (PhD in CS, Fall 2022-) </p></li>
    <li><p><a href="https://bigbinnie.github.io/">Binwei Yao</a> (PhD in CS, Fall 2023-) </p></li>
    <li><p><a href="https://zefan-cai.github.io/">Zefan Cai</a> (PhD in CS, Fall 2024-) </p></li>
    <li><p><a href="https://ikakkar03.github.io/">Ishita Kakkar</a> (PhD in CS, Fall 2025-) </p></li>
    <li><p><a href="https://stocktonjenkins.github.io/">Stockton Jenkins</a> (PhD in CS, Fall 2025-) </p></li>
    <li><p><a href="https://chloeeliu.github.io/">Chloe Liu</a> (MS in CS, Fall 2025-) </p></li> 
    <li><p><a href="https://www.linkedin.com/in/vaibhav-dhanuka-883435251/">Vaibhav Dhanuka</a> (MS in CS, Spring 2026-) </p></li> 
  </ul>
  
  Undergraduate Students
  <ul>
    <li><p><a href="https://tianyi0216.github.io/">Tianyi Xu</a> (BS in CS) </p></li>
    <li><p><a href="https://yancyou.github.io/">Xuan Ouyang</a> (BS in CS) </p></li>
  </ul>
  
  Alumni
  <ul>
    <li><p><a href="https://www.linkedin.com/in/himanshu-chaudhary-929720147/">Himanshu Chaudhary</a> (MS in CS) </p></li>
    <li><p><a href="https://www.linkedin.com/in/tarabobinac/">Tara Bobinac</a> (MS in CS) </p></li>
    <li><p><a href="https://www.linkedin.com/in/karthik-suresh-3240/">Karthik Suresh</a> (MS in CS) </p></li>
    <li><p><a href="https://www.linkedin.com/in/shan-leng-025206256/">Shan Leng</a> (MS in Stats, now PhD in BDS at UW-Madison) </p></li>
    <li><p><a href="https://agoyal0512.github.io/">Agam Goyal</a> (BS in CS, now PhD in CS at UIUC) </p></li>
    <li><p><a href="https://www.linkedin.com/in/samarth-mathur1/">Samarth Mathur</a> (MS in ECE, now software engineer at Supernova Technology) </p></li>
    <li><p><a href="https://www.linkedin.com/in/yuye-jiang-xx/">Yuye Jiang</a> (MS in CS, now software engineer at Oracle) </p></li>
    <li><p><a href="https://www.linkedin.com/in/gowtham1/?originalSubdomain=in">Gowtham Ramesh</a> (MS in CS, now applied research scientist at AMD) </p></li>
    <li><p><a href="https://www.linkedin.com/in/jackcai1206/">Jack Ziyang Cai</a> (BS in ECE/Math -> MS in ECE) </p></li>
    <li><p><a href="https://www.linkedin.com/in/ruixue-lian-918bb6110/">Ruixue Lian</a> (PhD in ECE, co-advised w/ <a href="https://sethares.engr.wisc.edu/">Prof. William Sethares</a>, now applied scientist at Amazon AWS) </p></li>
    <li><p><a href="https://scholar.google.com/citations?user=1BGJ0YMAAAAJ&hl=en">Makesh Narsimhan Sreedhar</a> (MS in CS, now research engineer at NVIDIA) </p></li>
    <li><p><a href="https://github.com/Aurora-He">Shilu He</a> (MS in Math, now software engineer at Amazon Alexa) </p></li>
    <li><p><a href="https://www.linkedin.com/in/shanchao-liang-106480195/">Shanchao Liang</a> (BS in CS/Math, now PhD in CS at Purdue) </p></li>
    <li><p><a href="https://shunchizhang.github.io/">Shunchi Zhang</a> (Exchange student from XJTU, now MS in CS at JHU) </p></li>
  </ul>
          </td>
    </table>
</div>

