
<div class="info-list">
  <h3 id="group" name="group">Research Group</h3>
      <table class="table table-hover" style="font-size:80%">
        <td>
            <p>I am really fortunate to work with a group of excellent students at UW-Madison. Stay tuned on our latest works! </p>


  <!-- <p>I am fortunate to work with a group of excellent students at UW-Madison. Stay tuned on our latest works! </p> -->
  Graduate Students
  <ul>
    <li><p><a href="https://uppaal.github.io/">Rheeya Uppaal</a> (PhD in CS) </p></li>
    <li><p><a href="https://www.linkedin.com/in/gowtham1/?originalSubdomain=in">Gowtham Ramesh</a> (PhD in CS) </p></li>
    <li><p><a href="https://www.linkedin.com/in/tim-ossowski-bb07a0171/">Tim Ossowski</a> (PhD in CS) </p></li>
    <li><p><a href="https://scholar.google.com/citations?user=1BGJ0YMAAAAJ&hl=en">Makesh Narsimhan Sreedhar</a> (Research MS in CS) </p></li>
    <li><p><a href="https://www.linkedin.com/in/samarth-mathur1/">Samarth Mathur</a> (Research MS in ECE) </p></li>
    <li><p><a href="https://github.com/Aurora-He">Shilu He</a> (MS in Math -> Amazon AWS) </p></li>
  </ul>
  Undergraduate Students
  <ul>
    <li><p><a href="https://www.linkedin.com/in/shanchao-liang-106480195/">Shanchao Liang</a> (BA in CS/Math -> PhD in CS at Purdue) </p></li>
    <li><p><a href="https://www.linkedin.com/in/jackcai1206/">Jack Ziyang Cai</a> (BA in CS/Math) </p></li>
    <li><p><a href="https://github.com/sleepope">Shunchi Zhang</a> (Exchange student from XJTU) </p></li>
    <li><p>Jiayuan Rao (Exchange student from SJTU) </p></li>
  </ul>
          </td>
    </table>
</div>

