
<!-- <div class="info-list"> -->
<!-- <h3 id="publications" name="publications" style="display:inline">Publications

    <div class="onoffswitch">
    <input type="checkbox" onclick="onClickHandler();" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
    </div>
</h3> -->
  <!-- [
    <a href="" id="pub-by-selected" style="text-decoration: underline; color: rgb(0, 0, 0);">show
        selected</a>
    /
    <a href="" id="pub-by-date">show by date</a>
    ] -->
<h3 id="publications" name="publications">Recent Preprints</h3>
<div class="publications" id="preprint-list-by-date" style="display:inline">
{% for y in page.preyears %}
  <h2 class="year">{{y}}</h2>
  {% bibliography -f preprint -q @*[year={{y}}]* %}
{% endfor %}
</div>

<h3>Publications </h3>
</br>
<div class="publications" id="pub-list-by-date" style="display:inline">
{% for y in page.years %}
  <h2 class="year">{{y}}</h2>
  {% bibliography -f papers -q @*[year={{y}}]* %}
{% endfor %}
</div>

<div class="publications" id="pub-list-by-selected" style="display:none">
{% bibliography -f papers -q @*[selected=1]* %}
</div>




