<div class="info-list">
  <h3 id="talks" name="talks">Talks</h3>
  <ul>
    <li><p>Invited Talk at <a href="https://www.microsoft.com/en-us/research/group/cognitive-services-research/talks/">Microsoft Azure Cognitive Services Research</a>, January 20, 2022.</p></li>
    <li><p>Invited Talk at <a href="https://www.meetup.com/Bay-Area-NLP/events/281277123/">Bay Area NLP Seminar</a>, November 18, 2021.</p></li>
    <li><p>Invited Talk at ICTR Seminar at UW-Madison, October 26, 2021.</p></li>
    <li><p>Invited Talk at Microsoft Research Summit, October 21, 2021.</p></li>
    <li><p>Invited Talk at CIBM Seminar at UW-Madison, October 19, 2021.</p></li>
    <li><p>Invited Talk at IFDS Ideas Forum at UW-Madison, October 11, 2021.</p></li>
    <li><p>XTREME: A Massively Multilingual Multi-task Benchmarkfor Evaluating Cross-lingual Generalization, Junjie Hu, LTI Summer Seminar Series at Carnegie Mellon University, Pittsburgh, July 2, 2020.</p></li>
    <li><p>Pre-training of Multilingual Encoder for Crosslingual Transfer, Junjie Hu, Google Translate Team, Mountain View, August 20 2019.</p></li>
    <li><p><a href="http://www.cs.cmu.edu/~aiseminar/abstract/19-04-30.html">Cross-Lingual and Cross Domain Transfer for Neural Machine Translation</a>, Junjie Hu, AI Seminar at Carnegie Mellon University, Pittsburgh April 30 2019.</p></li>
    <li><p>Transfer Learning for Multilingual Neural Machine Translation, Junjie Hu, SMART-Select Workshop on Multilingual Models and Unsupervised NMT supported by DG Connect of the European Commission, Luxembourg, June 20 2019. Facebook AI Research Lab, Paris, June 21 2019.</p></li>
    <li><p>Rethinking Visual Storytelling: What Makes A Good Story? Junjie Hu, Microsoft 365 AI Research, Redmond, August 23 2018.</p></li>
    <li><p>Machine Reading Comprehension via Structural Tree Embeddings, Junjie Hu, Seminar at Chinese University of Hong Kong, March 5 2018.</p></li>
    <li><p>Lorelei: Understanding Low Resource Languages, Pat Littell, Junjie Hu, Shruti Rijhwani, and Ruochen Xu. LTI Colloquium at Carnegie Mellon University, Pittsburgh, September 8, 2017.</p></li>
    <li><p>Natural Communication for Human-Robot Collaboration, Junjie Hu, Symposium on Natural Communication for Human-Robot Collaboration, November 9, 2017.</p></li>
  </ul>

</div>
