
<div class="info-list">
  <h3 id="teaching" name="teaching">Teaching</h3>
  <ul>
    <li><p><a href="https://junjiehu.github.io/cs769-spring22/">CS 769 Advanced Natural Language Processing (Spring 2022)</a> </p></li>
    <li><p><a href="https://junjiehu.github.io/cs769-spring23/">CS 769 Advanced Natural Language Processing (Spring 2023)</a> </p></li>
    <li><p><a href="https://junjiehu.github.io/cs769-fall23/">CS 769 Advanced Natural Language Processing (Fall 2023)</a> </p></li>
    <!-- <li><p>Guest Lecture on Machine Translation in 11-411/611 Natural Language Processing, 2020 Spring, 2019 Spring, 2018 Fall.</p></li>
    <li><p>Guest Lecture on Multi-task Multi-lingual Learning Models in 11-747 Neural Networks for NLP, 2018 Spring.</p></li>
    <li><p>Teaching Assistant in 11-747 Neural Networks for NLP, 2018 Spring.</p></li>
    <li><p>Teaching Assistant in 11-731 Machine Translation and Sequence-to-sequence Models, 2018 Fall.</p></li>
    <li><p>Teaching Assistant in CSCI3100 Software Engineering, 2014 Spring, 2015 Spring.</p></li>
    <li><p>Teaching Assistant in CSCI3170 Introduction to Database System, 2013 Fall.</p></li>
    <li><p>Teaching Assistant in CSCI5250 Information Retrieval and Web Search, 2014 Fall.</p></li> -->
  </ul>

</div>

