/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   font-size: $base-font-size;
   padding-bottom: 70px;
   color: $text-color;
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
   font-size: $base-font-size;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
   font-size: $base-font-size;
 }

.container {
  max-width: $max-content-width;
  font-size: $base-font-size;
}

// Profile
.profile {
  img {
    width: 60%;
    height:auto;
  }
  font-size: $base-font-size;
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

h3#publications {
  border: none;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}
/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.


/*****************************************************************************
* Teaching & Talks & Awards
*****************************************************************************/
.info-list {
  margin-top: 20px;     // [JH] margin 
  font-size: $base-font-size;
  li {
    margin: 0 0 -10px 0;
  }
  h3 {
    border-spacing: 15px 50px;
    padding-bottom: 10px;  // [JH] adjust space between the section title and the content
    border-bottom: 1px solid $grey-color-light;
    padding-top: -1rem;
    margin-top: 20px;   // [JH] margin between each paper
    margin-bottom: 0rem;
  }
}


.onoffswitch {
    position: relative; width: 139px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: inline-block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 10px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Show Selected";
    padding-left: 10px;
    background-color: #BB0000; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Show by date";
    padding-right: 10px;
    background-color: #FAB6B6; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 17px; margin: 6.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 105px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
