---
layout: default
---

<div class="post">

  <header class="post-header">
    {% assign name = site.title | split: ' ' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="post-title"><span class="font-weight-bold">{{ name | first }} {{ name | last }} | {{ site.chinese_name }} </span> </h1>
                <address>
                    {{ page.profile.address}}
                </address>
            </div>
            <div class="col-md-4 profile">
                <br>
                <img src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
            </div>
        </div>
    </div>

  </header>

  <article>

<!--     <span id="bio" name="bio">
        
    </span> -->
    <div class="info-list">
      <h3>About</h3>
    </div>
    <table class="table table-hover">
        <td>
            {{ content }}
        </td>
    </table>


    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if site.single_page %}
      {% include publications.html %}
      {% include teaching.html %}
      {% include talks.html %}
      {% include awards.html %}
    {% endif %}

  </article>

</div>
